<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secture Communication</title>
    <link rel="stylesheet" href="../static/style/style.css">
    <script src="../static/script/jquery.js"></script>
    <script src="../static/script/jquery.md5.js"></script>

</head>
<body>
<img id="large_logo" src="../static/image/logo.JPG" alt="Pulpit rock">

{% block content %}
{% endblock %}

<script src="../static/script/des.js"></script>
<script src="../static/script/interaction.js"></script>
</body>
</html>