{% extends "base.html" %}
{% block content %}

    <table>
        <tr>
            <td>
                {# search #}
            </td>
            <td>
                <speaker>

                </speaker>
                <script>
                    $.get("/getspeakername").done(function (response) {
                        let speaker = response["speaker"]
                        $("speaker").html("<speaker>" + speaker + "</speaker>")
                    })

                    function changespeaker(id) {
                        console.log(id)
                        $.get("/changespeaker", {"speaker": id})
                        $.get("/getspeaker").done(function (response) {
                            let speaker = response["speaker"]
                            $("speaker").html("<speaker>" + speaker + "</speaker>")
                        })
                    }
                </script>

            </td>
        </tr>
        <tr>
            {# the list of users #}
            <td rowspan="2">
                {% for user in onlines %}
                    <div class="user">
                        <p onclick="changespeaker({{ user.id }})">{{ user.name }}</p>
                    </div>
                {% endfor %}
            </td>
            <td>
                <dev id="com">

                </dev>

                <script>
                    setInterval(function () {
                        let user1
                        $.get("/getuser").done(function (response) {
                            user1 = response["id"]
                            let user2
                            $.get("/getspeaker").done(function (response) {
                                user2 = response["speaker"]
                                let k
                                $.get("/getspeakers").done(function (response) {
                                    k = $.md5(response["user1"] + ',' + response["user2"])
                                    // show the decrypted sentence on the screes
                                    $.get("/getsentence").done(function (sentences) {
                                        $("#com").empty()
                                        for (let i = 0; i < sentences.length; i++) {
                                            if (user1 in sentences[i]) {
                                                $("#com").append("<atalk>" + decrypt(sentences[i][user1], k) + "</atalk><br>")
                                            } else {
                                                $("#com").append("<btalk>" + decrypt(sentences[i][user2], k) + "</btalk><br>")
                                            }
                                        }
                                    })
                                })
                            })
                        })
                    }, 3000);
                </script>
            </td>
        </tr>
        <tr>
            <td>

                <form action="" method="post" novalidate>
                    <dev id="communicate">
                        <input id="sentence" type="text">
                        <input id="submit_sentences" type="button" value="submit">
                    </dev>
                </form>

            </td>

        </tr>
    </table>


{% endblock %}