{% extends "base.html" %}
{% block content %}
<br>
    <br>
    <br>
    <form role="form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Login</legend>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}


            <div id="login">
                <usertext>Username</usertext><br>
                {{ form.username(class = "userinput") }}
                <br>
                <br>
                <usertext>Password</usertext><br>
                {{ form.password(class = "userinput") }}
                <br>
                <br>
                {{ form.submit(hidden = true) }}
                <input class="userinput" id="submit_login" type="button" value="Login">
            </div>
            <br>
            <usertext>If you do not have a account, please <a href={{ url_for("register") }}>register now</a></usertext>
        </fieldset>
    </form>


{% endblock %}