{% extends "base.html" %}
{% block content %}

    <form role="form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Register</legend>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <div id="register">
                <usertext>Username</usertext><br>
                {{ form.username(class = "userinput") }}
                <br>
                <usertext>Password</usertext><br>
                {{ form.password(class = "userinput") }}
                <br>
                <usertext>Confirm Password</usertext><br>
                {{ form.repeat_pwd(class = "userinput") }}
                <br>
                <usertext>email</usertext><br>
                {{ form.email(class = "userinput") }}
                <br>
                <usertext>Phone</usertext><br>
                {{ form.phone(class = "userinput") }}
                <br>
                <br>
                {{ form.submit(hidden = true) }}
                <input class = "userinput" id="submit_register" type="button" value="Sign Up">
            </div>
        </fieldset>
    </form>
{% endblock %}